# fly.toml app configuration file generated for employee_reimbursement_portal
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = "employee-reimbursement-portal"
primary_region = "iad"

[build]

[env]
  RAILS_ENV = "production"
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  memory_mb = 256
  cpu_kind = "shared"
  cpus = 1

[[mounts]]
  source = "rails_storage"
  destination = "/rails/storage"
  initial_size = "1gb"

